<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} test:${ctx:logFilename} %c{1}:%L - %msg%n" />
		</Console>
		<Routing name="RoutingAppender">
			<Routes pattern="$${ctx:logFilename}">
				<Route>
					<RollingFile name="Rolling-${ctx:logFilename}"
						fileName="output/${ctx:logFilename}.log" filePattern="output/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
						append="false">
						<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %msg%n" />
						<SizeBasedTriggeringPolicy size="10 MB" />
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="RoutingAppender" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>